<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.jpg" alt="" width="30" height="50"><span style="padding-left: 20px;font-size: 30px;"><strong>Pizzania</strong></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-light me-2 active" aria-current="page" routerLink="/" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">Home</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light me-2" aria-current="page" routerLink="/pizza-details" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">Menu</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light me-2" routerLink="/login" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light me-2" routerLink="/signup" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">Signup</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">Disabled</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
